/* ============================================
   Custom Styles for Somewhere Website
   Add your custom CSS here
   ============================================ */

/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Set color style to inherit */
.inherit-color * {
    color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, 
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, 
.w-richtext ol li:last-child, 
.w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small, 
.container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 1 line of text */
.text-style-1line {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

/* Hide utility classes */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile-landscape {
      display: none !important;
    }
}

@media screen and (max-width: 479px) {
    .hide-mobile {
      display: none !important;
    }
}

/* Spacing utilities */
.margin-0 { margin: 0rem !important; }
.padding-0 { padding: 0rem !important; }
.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

/* HUBSPOT CUSTOM FORM STYLES */
.hs-form>p {
 margin-top: var(--margin--small);
 margin-bottom: var(--margin--small);
}
 
.hs-button {
 width: 100% !important;
}
 
.hs-form .input {
 margin-right: 0 !important;
}

.hs-form>fieldset {
 max-width: 100% !important;
}

.hs-input {
 width: 100% !important;
}

.hs-input[type=radio] {
 width: auto !important;
 margin-right: 0.5rem;
 min-height: auto !important;
}

.hs-form-checkbox>label {
 font-weight: 400 !important;
}

.hs-error-msgs>label {
 margin-bottom: 0px !important;
}

.hs-input[type=checkbox] {
  width: 1rem !important;
  height: 1rem !important;
  margin-right: 0.5rem !important;
  min-height: auto !important;
}

.hs-input[type=checkbox]:focus {
  box-shadow: 0 0 3px 1px var(--_colors---form--border-active);
}

.hs-input[type=checkbox]:checked {
 accent-color: var(--_colors---form--border-active);
 outline: 2px solid var(--_colors---form--border-active);
}

.hs-form-booleancheckbox-display>span {
 margin-left: 0 !important;
}

/* Splide for Saving Section CSS */
.splide__arrow.splide__arrow--next,
.splide__arrow.splide__arrow--prev,
.splide__pagination {
  display: none !important;
}

.splide *:focus {
  outline: none;
}

.splide__track {
  overflow: visible !important;
}

/* Add your custom styles below this line */

